{% extends "base.html" %}
{% load static %}
{% block content %}




    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                {% comment %} carousel-1 {% endcomment %}
                {% for post in posts  %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="categories__item set-bg" data-setbg="{{post.image.url}}">
                        <div class="categories__hover__text" >
                           <a href="{{post.get_absolute_url}}"> <h5>{{post.title}}</h5></a>
                           <a href="{{post.get_absolute_url}}"><p>{{post.sub_title}}</p></a> 
                        </div>
                    </div>
                </div>
                {% endfor %}

                 
            </div>
        </div>


        {% comment %} next-to-about-leave-it-alone {% endcomment %}
        <div class="categories__post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="categories__post__item categories__post__item--large">
                            <div class="categories__post__item__pic set-bg"
                                data-setbg=" {% static "img/posts/blog-6.png" %}">
                                <div class="post__meta">
                                    <h4>08</h4>
                                    <span>Aug</span>
                                </div>
                            </div>
                            <div class="categories__post__item__text">
                                <ul class="post__label--large">
                                    <li>Python</li>
                                    <li>Back-End</li>
                                </ul>
                                <h3><a href="{{post.get_absolute_url}}">The Absolute Best Way To Master Pyhton Backend Perfectly..</a></h3>
                                <ul class="post__widget">
                                    <li>by <span>Admin</span></li>
                                    <li>3 min read</li>
                                    {% comment %} <li>20 Comment</li> {% endcomment %}
                                </ul>
                                <p>{{post.content}} ...</p>
                                <a href="{{post.get_absolute_url}}" class="primary-btn">Read more</a>
                                <div class="post__social">
                                    <span>Share</span>
                                    <a href="#"><i class="fa fa-facebook"></i> <span>82</span></a>
                                    <a href="#"><i class="fa fa-twitter"></i> <span>24</span></a>
                                    <a href="#"><i class="fa fa-envelope-o"></i> <span>08</span></a>
                                </div>
                            </div>
                        </div>

                         {% comment %} next-to-featured {% endcomment %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                 {% comment %} next-to-featured-1 {% endcomment %}
                                 {% for post in posts %}
                                <div class="categories__post__item">
                                    <div class="categories__post__item__pic small__item set-bg"
                                        data-setbg="{{post.image.url}}">
                                        <div class="post__meta">
                                            <h4>08</h4>
                                            <span>Dec</span>
                                        </div>
                                    </div>
                                    <div class="categories__post__item__text">
                                        <span class="post__label">{{post.subtitle}}</span>
                                        <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                                        <ul class="post__widget">
                                            <li>by <span>{{post.author}}</span></li>
                                            <h4>08</h4>
                                            <span>Aug</span>
                                            
                                        </ul>
                                        <p>{{post.content}}</p>
                                    </div>
                                </div>

                                {% endfor %}
                                
                            </div>


                            {% comment %} categories {% endcomment %}
                            <div class="col-lg-6 col-md-6 col-sm-6">
                         {% comment %} category-1 {% endcomment %}
                         {% for post in posts %}
                                <div class="categories__post__item">
                                    <div class="categories__post__item__pic smaller__large set-bg"
                                        data-setbg="{{post.image.url}}">
                                        <div class="post__meta">
                                            <h4>08</h4>
                                            <span>Aug</span>
                                        </div>
                                    </div>

                                    <div class="categories__post__item__text">
                                        <span class="post__label">{{post.sub_title}}</span>
                                        <h3><a href="{{post.get_absolute_url}}">10 ways to master Django as a beginner!</a>
                                        </h3>
                                        <ul class="post__widget">
                                            <li>by <span>{{post.author}}</span></li>
                                            <li>{{post.time_required_to_read}}</li>
                                            {% comment %} <li>20 Comment</li> {% endcomment %}
                                        </ul>
                                        <p>{{post.content}}...</p>
                                    </div>
                                </div>

                                {% endfor %}
                               

               

                                 {% comment %} category-1-leave it alone {% endcomment %}
                                 <div class="categories__post__item__small">
                                    <img src="{% static "img/categories/categories-post/quote.png" %}" alt="">
                                    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt labore et dolore magna aliqua gravida.</p>
                                    <div class="posted__by">Elena T.Jaivy</div>
                                </div>

                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="load__more__btn">
                                    <a href="{{articles.get_absolute_url}}">Load more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} about-me {% endcomment %}
                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar__item">
                            <div class="sidebar__about__item">
                                <div class="sidebar__item__title">
                                    <h6>About me</h6>
                                </div>
                                <img src="{% static "img/me-png-f2.png" %}" alt="">
                                <h6>Hi! I,m <span>Shae Kekae.</span></h6>
                                <p>Welcome to my space where i talk about my coding journey, my love for python and cybersecurity, and well, sometimes my spiritual journey...</p>
                                {% comment %} {% url "about" %} {% endcomment %}
                                <a href="#" class="primary-btn">Read more</a>
                            </div>
                            <div class="sidebar__follow__item">
                                <div class="sidebar__item__title">
                                    <h6>Follow me</h6>
                                </div>
                                <div class="sidebar__item__follow__links">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-envelope-o"></i></a>
                                </div>
                            </div>

                          {% comment %} featured-posts {% endcomment %}
                            <div class="sidebar__feature__item">
                                <div class="sidebar__item__title">
                                    <h6>Feature Posts</h6>
                                </div>
                                <div class="sidebar__feature__item__large set-bg"
                                    data-setbg="{% static "img/posts/blog-1.png" %}">
                                    <div class="sidebar__feature__item__large--text">
                                        <span>Pyhton</span>
                                        <h5><a href="{{post.get_absolute_url}}">Best Python libraries you need to know...</a></h5>
                                    </div>
                                </div>


                                <div class="sidebar__feature__item__list">
                                    {% for features in featured %}
                                     {% comment %} featured-posts-1 {% endcomment %}
                                    <div class="sidebar__feature__item__list__single">
                                        <div class="post__meta">
                                            <h4>08</h4>
                                            <span>Aug</span>
                                        </div>
                                        <div class="post__text">
                                            <span>{{features.sub_title}}</span>
                                            <h5><a href="{{post.get_absolute_url}}">{{features.title}}</a></h5>
                                        </div>
                                    </div>
                                    {% endfor %}

                                 

                                </div>
                            </div>


                             {% comment %} categories-list {% endcomment %}
                            <div class="sidebar__item__banner">
                                <img src="{% static "img/posts/blog-8.png" %}" alt="">
                            </div>
                            <div class="sidebar__item__categories">
                                <div class="sidebar__item__title">
                                    <h6>Categories</h6>
                                </div>
                                <ul>
                                    {% for category in  links %}
                                    <li><a href="{{post.get_absolute_url}}">{{category.category_name}} <span>128</span></a></li>
                                {% endfor %}
                                    
                             
                                </ul>
                            </div>
                            <div class="sidebar__subscribe__item">
                                <div class="sidebar__item__title">
                                    <h6>Subscribe</h6>
                                </div>
                                <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
                                <form action="#">
                                    <input type="text" class="email-input" placeholder="Your email">
                                    <label for="s-agree-check">
                                        I agree to the terms & conditions
                                        <input type="checkbox" id="s-agree-check">
                                        <span class="checkmark"></span>
                                    </label>
                                    <button type="submit" class="site-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->


       <!-- Search Begin -->
       <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

{% endblock content %}