
{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class = "container">
        <div class = "title">
          <h2>All Articles</h2>
        </div>
        <form method="GET">
          <input type="text" class="textbox" placeholder="Search">
          <button type = "submit" class="button">
            <i class='bx bx-search'></i>
          </button>
        </form>
        <div class="article-meta">
            <a class="back-button" href="">All Articles</a>
            <span class="tag">django</span>
            <span class="tag">php</span>
            <span class="tag">development</span>
        </div>

        <hr>

        <div class = "featured-content">
          <!-- item -->
          <div class = "featured-item">
            <div class = "featured-img">
              <img src = "images/sample.jpg" alt = "">
              <span><i class='bx bx-calendar-star'></i> June 21</span>
              <span>Art & Design</span>
            </div>
            <div class = "featured-title">
              <a href = "#">make an awesome art portfolio for college or university</a>
            </div>
          </div>
          <!-- end of item -->
        </div>
    </div>

{% endblock %}