{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shae's Blog">
    <meta name="keywords" content="Shae's Blog,Shay's Blog, blog, coding, python, cybersercurity, django">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}Shay's Blog{% endblock title %}</title>

    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"  type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"  type="text/css">
    <link rel="stylesheet" href="{% static "css/elegant-icons.css" %}"  type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %} "  type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}"  type="text/css">
</head>
<body>
      <!-- Page Preloder -->
      <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include "includes/navbar.html" %}
    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
    <!-- Js Plugins -->
    <script src=" {% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="  {% static "js/bootstrap.min.js" %}"></script>
    <script src=" {% static "js/jquery.slicknav.js" %}"></script>
    <script src=" {% static "js/owl.carousel.min.js" %}"></script>
    <script src=" {% static "js/main.js" %}"></script>
</body>
</html>